{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent":           [2, 4, {"SwitchCase": 1}],
        "react/jsx-indent": [2, 4, {"SwitchCase": 1}]
    },
    "plugins": [
        "flowtype-errors"
    ],
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
    }
  }
